@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=EB+Garamond&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}

.container{
  width: 100%;
  height: 100vh;
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background: #e9e5e0;
  padding: 20px;
  border-radius: 10px;
}

p {
  font-family: 'EB Garamond', serif;
  position: relative;
  top: 20px;
  left: 5%;
  font-weight: 600;
  font-size: 18px;
}

.calculator form input{
  border: 0;
  outline: 0;
  width: 60px; 
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #f45d48;
  cursor: pointer;
  margin: 10px ;
} 

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal{
  width: 145px;
} 

form input.operator{
  color: #078080;
}